<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Alteração de Produtos</title>
</head>

<body>
    <%if(typeof produto[0] == "undefined"){%>
    <div class="erros">
        <%if(errosValidacao){%>
            <ul>
                <%for(var i=0; i<errosValidacao.length; i++) {%>
                    <li><%=errosValidacao[i].param%> - <%=errosValidacao[i].msg%></li>
                <%}%>
            </ul>
        <%}%>
    </div>
    <form action="/alteracao" method="POST">
        <div>
            <input type="text" id="id" name="id" value="<%=produto.id%>"/>
        </div>
        <div>
            <label for="titulo">Titulo:</label>
            <input type="text" id="titulo" name="titulo" value="<%=produto.titulo%>" placeholder="Coloque o titulo do produto aqui" />
        </div>
        <div>
            <label for="preco">Preço:</label>
            <input type="text" id="preco" name="preco" value="<%=produto.preco%>" placeholder="Coloque o preço do produto aqui" />
        </div>
        <div>
            <label for="descricao">Descrição:</label>
            <textarea rows="10" cols="20" id="descricao" name="descricao"
                placeholder="Coloque a descrição do livro"><%=produto.descricao%></textarea>

        </div>
        <input type="submit" value="alterar"/>
    </form>
    <%} else {%>
        <form action="/alteracao" method="POST">
            <div>
                <input type="text" id="id" name="id" value="<%=produto[0].id%>"/>
            </div>
            <div>
                <label for="titulo">Titulo:</label>
                <input type="text" id="titulo" name="titulo" value="<%=produto[0].titulo%>" placeholder="Coloque o titulo do produto aqui" />
            </div>
            <div>
                <label for="preco">Preço:</label>
                <input type="text" id="preco" name="preco" value="<%=produto[0].preco%>" placeholder="Coloque o preço do produto aqui" />
            </div>
            <div>
                <label for="descricao">Descrição:</label>
                <textarea rows="10" cols="20" id="descricao" name="descricao"
                    placeholder="Coloque a descrição do livro"><%=produto[0].descricao%></textarea>
    
            </div>
            <input type="submit" value="alterar"/>
        </form>
    <%}%>
</body>

</html>